.admin {

  .admin__header {
    background-color: #08467a;
    top: 0;
    right: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .dropdown-toggle {
      color: #fff;
      cursor: pointer;
    }

    .dropdown-menu {

      // right: -38px;
      a {
        color: #08467a;
        width: 100%;
      }
    }

    a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;

    }
  }

  .sidebar {
    margin: 0;
    padding: 0;
    width: 230px;
    background-color: #185a92;
    position: fixed;
    height: calc(100% - 60px) !important;
    overflow: auto;
    top: 60px;

    @media (max-width:767px) {
      &.in {
        display: block;
        position: static;
        height: auto;
        width: 100%;
        margin-top: 60px;
        margin-bottom: -60px;
      }
    }

    @media (min-width:767px) {
      &.collapse {
        display: block;
      }
    }

    .sidebar__profile {
      padding: 10px;
      background-color: #45739b;

      .sidebar__profile__img {
        text-align: center;

        img {
          max-width: 100px;
          border: 2px solid #fff;
        }
      }

      .sidebar__profile__title {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
        margin-top: 10px;
      }
    }
  }

  .sidebar a {
    display: block;
    color: #fff;
    padding: 14px;
    text-decoration: none;
    font-size: 15px;
    border-top: 1px solid #ccc;
  }

  .sidebar a.active {
    background-color: #08467a;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: #406093;
    color: white;
  }

  .content {
    margin-right: 230px;
    padding: 20px;
    margin-top: 60px;
  }

  // @media screen and (max-width: 400px) {
  //   .sidebar a {
  //     text-align: center;
  //     float: none;
  //   }
  // }

  .panel .panel-primary>.panel-heading {
    font-weight: 600;
    font-size: 20px;
    background-color: #00bfff !important;
  }

  .breadcrumb a {
    font-size: 16px;
    font-weight: 600;
  }

  .navbar-toggle {
    background-color: transparent;
    border: 1px solid #fff;


    .icon-bar {
      background-color: #fff;
    }
  }

  .collapse-toggle {
    display: none;
  }

  @media screen and (max-width: 767px) {
    .sidebar {
      display: none;

      .sidebar__profile {
        display: none;
      }
    }

    .collapse-toggle {
      display: block;
    }

    .content {
      margin-right: 0px;
    }

    &>.admin__header>.dropdown {
      display: none;
    }
  }
}