body {
    font-size: 15px;
    // font-family: IRANSans;
    // font-family: Vazir;
    // font-family: "AJannatLT";
    font-family: "MyriadArabic";
    // font-family: MehdiHeydari;
    // font-family: BNazanin;
    margin:0;
    overflow-x: hidden;
}

.seperator {
    background-image: url(../img/seperator.png);
    height: 26px;
    background-repeat: repeat-x;
    width: 100%;
}