.bs-slider>.carousel-inner>.item>img,
.bs-slider>.carousel-inner>.item>a>img {
    max-height: 100vh;
}

.control-round .carousel-control {
    opacity: 1 !important;
    color: #fdfdfd !important;
    background: rgba(0, 0, 0, 0.5) !important;
    border: 0px transparent;
}

.control-round .carousel-control.right {
    left: 93% !important;
}

.control-round .carousel-control.left {
    left: 3% !important;
}

@media (max-width: 991px) {
    .control-round .carousel-control {
        display: none !important;
    }
}

.indicators-line>.carousel-indicators {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    right: 0 !important;
    left: 0 !important;
}

.bs-slider .bs-slider-overlay {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.bs-slider {
    direction: ltr;
    background: transparent !important;
}

.navbar {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    z-index: 100;
    direction: rtl;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    z-index: 1000000;

    @media (max-width:845px) {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;

    &:hover {
        color: #00bfff !important;
        font-weight: 600;
    }
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent !important;
    color: #00bfff !important;
    font-weight: 600;
}

.control-round .carousel-control {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 10px 0;
    text-align: right;

    @media (max-width:845px) {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    display: inline;
}

.header-txt {
    color: #fff !important;
    margin-top: 15px;

    @media (max-width:767px) {
        display: none;
    }
}

.header {
    @media (max-width:767px) {
        .col-md-6.col-sm-6.col-xs-12 {
            text-align: center;
        }
    }
}

.navbar-inverse .navbar-toggle {
    background-color: transparent !important;
}


@media (max-width: 768px) {
    .control-round .carousel-control {
        display: none !important;
    }

    .header,
    .navbar-inverse {
        position: relative;
        top: 0;
    }

    .header {
        background-color: #00bfff;
    }
}

.btn-primary {
    background-color: #00bfff;
    transition: 0.6s;

    &:hover,
    &:focus {
        background-color: #222222;
        border-color: #222;
    }
}

.register {
    display: none;

    @media (max-width:767px) {
        display: inline-block;
    }
}